.asset-page{
  padding: 30px;

  .main-title{
    font-size: 20px;
    font-weight: bold;
  }
  .header-actions{
    display: flex;
    margin: 25px 0;
    align-items: center;
    .question{
      font-size: 16px;
      margin-right: 10px;
    }

  }

  .info-block{
    width: 40%;
    .title{
      margin: 20px 0;
      font-size: 17px;
    }

    .content-block{
      padding: 25px;
      box-shadow: 0 0 4px 0 #ada9a996;
      background-color: white;
      position: relative;
      height: 250px;

      .block-header{
        display: flex;
        justify-content: space-between;

        .type{
          font-size: 20px;
          font-weight: bold;
        }
      }

      .block-body{
        display: flex;
        flex-direction: column;


        .actions{
          display: inline-flex;
          position: absolute;
          right: 20px;
          bottom: 0px;


          .action{
            width: 120px;
            margin-left: 15px;
          }
        }

        .text-row{
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          .label{
            font-size: 16px;
          }

          .value{
            font-size: 16px;

            .bold{
              font-weight: bold;
            }
          }
        }
      }
    }

    .divider{
      height: 20px;
    }
  }
}
