.wrapper {
    display: grid;

    grid-template-areas:
            "h h h"
            "cu cp b"
            "a a a";

    grid-template-columns: 0.8fr 1fr 0.8fr;
}

.content_user {
    margin: 10px;
}

.content_pool {
    margin: 10px;
}

.button {
    margin: 10px;
}
