.wrapper {
    display: grid;

    grid-template-areas:
            "pd pd"
            "ud a";

    grid-template-columns: 1fr 1fr;
}

.protocol_data {
    grid-area: pd;
    margin: 10px;
}

.user_data {
    grid-area: ud;
    margin: 10px;
}

.actions {
    grid-area: a;
    margin: 10px;
}
