.header {
  display: grid;

  grid-template-areas: "l m ubal  ba as";

  grid-template-columns: 20% 10% 40% 10% 20%;

  padding: 10px;
}

.logo {
  grid-area: l;
}

.menu {
  grid-area: m;
}

.user_balance {
  grid-area: ubal;
  display: flex;
  padding: 0 5px;
  font-size: 17px;

}

.user_item {
  border: 1px solid black;
  width: 500px;
}

.balance_annotation {
  grid-area: ba;
}

.account_selector {
  grid-area: as;
}
