.wrapper {
  display: grid;

  grid-template-areas:
    "h h"
    "cu b"
    "cp a";

  grid-template-rows: 80px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-area: h;
}

.content_user {
  grid-area: cu;
}

.content_pool {
  grid-area: cp;
}

.button {
  grid-area: b;
  margin-left: 20px;
}

.admin {
  grid-area: a;
  margin-left: 20px;
}
