.content {
    display: grid;

    grid-template-areas:
        "u p"
        "d d";

    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.user {
    grid-area: u;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.pool {
grid-area: p;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.deposit {
    grid-area: d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}